.background {
    /*background-image: url("https://static.vecteezy.com/system/resources/previews/007/120/314/large_2x/galaxy-background-with-falling-star-space-galaxy-illustration-free-vector.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}